{% macro displayPitchList(pitch_list) %} {% for pitch in pitch_list %}

<style>
    .card-body {
        padding: 1em 1em 1em 1em;
    }

    .card-header {
        background-color: #09b4be;
    }

    .card {
        box-shadow: 3px 6px rgba(211, 211, 211, 0.3);
    }

    #pitch {
        padding-bottom: 1em;
    }

    .fa-thumbs-up {
        border: 1px solid dodgerblue;
        padding: 2px;
        font-size: 18px;
        border-radius: 5px;
        margin-left: 2em;
    }

    .fa-thumbs-down {
        color: hotpink;
        border: 1px solid hotpink;
        font-size: 18px;
        border-radius: 5px;
        padding: 2px;

    }

    .fa-comments {
        color: mediumseagreen;
        border: 1px solid mediumseagreen;
        font-size: 18px;
        border-radius: 5px;
        padding: 2px;
    }

    #new_pitch {
        color: hotpink;
    }

    .new_pitch:hover {
        text-decoration-color: dodgerblue;
    }

</style>

<div class="col-md-3 col-sm-6 col-xs-6" id='pitch'>
    <div class="card">
        <div class="card-header" style="color: white
        ;">
            <b>{{pitch.category}}</b>
        </div>
        <div class="card-body">
            <h5 class="card-title" style="color: rgba(0, 0, 0, 0.7);">{{pitch.title}}</h5>
            <p class="card-text" style="color: rgb(73, 72, 72);">
                <i>{{pitch.pitch_content}}</i>
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-size: 14px; color: dodgerblue;">~ {{pitch.author}}
                <a href="">
                    <span class="fas fa-thumbs-up"></span>
                </a>&ensp;
                <a href="">
                    <span class="fas fa-thumbs-down"></span>
                </a>&ensp;
                <a href="{{url_for('main.comments')}}">
                    <span class="fas fa-comments"></span>
                </a>
            </li>
            <li class="list-group-item">{{pitch.published_at}}</li>
            <li class="list-group-item" style="background-color: whitesmoke;">
                <a href="{{url_for('main.new_pitch')}}" class="new_pitch">
                    <span id="new_pitch">Click to create a new Pitch
                        <span>
                </a>
            </li>
        </ul>
    </div>
</div>

{% endfor %} {% endmacro %} 

{% macro displayCommentsList(comments_list) %} {% for comment in comments_list %}

<div class="container">

    {{comment.body}}

</div><br>

<style>
    .container {
        background-color: #0e91a6; 
        padding: 3.5% 5%; 
        margin-left: 3%;
        border-radius: 10px;
        color: whitesmoke;
    }
</style>

{% endfor %} {% endmacro %}