{% extends 'base.html' %} {% block body %}

<div class="container">
  <form action method="post" action="form" role="form">
    <div class="row mt-3">
      {{pitch_form.title.label}}
    </div>
    <div class="row">
      {{pitch_form.hidden_tag()}} {{pitch_form.title(class_='form-control', placeholder="Enter Pitch Title")}}
    </div>    
    <div class="row mt-3">
      {{pitch_form.author.label}}
    </div>
    <div class="row">
      {{pitch_form.hidden_tag()}} {{pitch_form.author(class_='form-control', placeholder="Authors name")}}
    </div>
    <div class="row mt-3">
      {{pitch_form.pitch_content.label}}
    </div>
    <div class="row">
      {{pitch_form.hidden_tag()}} {{pitch_form.pitch_content(class_='form-control', placeholder="Write Pitch")}}
    </div>
    <div class="row mt-3">
        {{pitch_form.category.label}}
      </div>
      <div class="row well">
        {{pitch_form.hidden_tag()}} {{pitch_form.category(class_='form-check-inline')}}
      </div>
    <div class="row mt-3">
      {{pitch_form.hidden_tag()}} 
      {{pitch_form.submit(class_="btn btn-outline-primary")}}
    </div>
  </form>
</div>

<style>
  .form-check-inline {
    list-style-type: none;
  }

  ul#category.form-check-inline {
    padding: 0px;
    margin: 0px;
  }
</style>

{% endblock %}