{% extends 'base.html' %} 

{% import 'bootstrap/wtf.html' as wtf %}

{% block body %}

<style>
  @media screen and (max-width: 1920px) and (min-width: 769px) {

    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 3.5%;
      height: 95%;
      width: 50%;
      background-color: white;
      box-shadow: 4px 6px rgba(211, 211, 211, 0.3);
    }

    .container-fluid {
      position: absolute;
      background: whitesmoke;
      padding-top: 10%;
      height: 96%;
      width: 100%;

    }

    .btn {
      background-color: white;
      border: 1px solid dodgerblue;
      color: dodgerblue;
      margin-top: 3.5%;
    }
  }

  @media screen and (max-width: 1920px) and (min-width: 1240px) {

    .container-fluid {
      height: 90.9%;
      padding-top: 4%;
    }

  }

  @media screen and (max-width: 1240px) and (min-width: 769px) {

    .container-fluid {
      height: 90.9%;
      padding-top: 10%;
    }

    .container {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80%;
      width: 70%;
    }

  }

  @media screen and (max-width: 768px) and (min-width: 320px) {

    .container {
      position: absolute;
      padding: 3%; 
      height: 80%;
      margin-left: 5%;
      width: 80%;     
    }

    .container-fluid {
      position: absolute;
      padding-top: 10%;
      height: 96%;
      width: 100%;

    }

    .btn {
      background-color: white;
      border: 1px solid dodgerblue;
      color: dodgerblue;
      margin: 3.5% 0%;
    }
  }
</style>

<div class="container-fluid">

    <div class="container">
  
      {{wtf.quick_form(pitch_form)}}
  
    </div>
  </div>

{% endblock %}